* {
  margin: 0 0;
  padding: 0%;
  list-style: none;
  text-decoration: none;
}
nav {
  background-color: rgb(32, 0, 97);
  padding: 25px;
  position: fixed;
  width: 100%;
}
.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}
.navlogo {
  width: 20%;
  color: white;
  font-family: cursive;
  margin-left: 50px;
}
.nav-link {
  width: 50%;
  margin-right: 8%;
}
.nav-link ul{
  display: flex;
  justify-content: space-between;
  color: white;
  margin-left: 40%;
}
.mytunes {
  background-image: url(../assets/IMG_2090.JPG);
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.mytunes-text h1 {
  font-size: 55px;
  font-family: cursive;
  justify-content: center;
  display: flex;
  margin-bottom: 17px;
}
.mytunes-text h3 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
}
.mytunes-text p {
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.music {
  background-color: rgb(16, 2, 44);
  height: 70vh;
  text-align: center;
  padding-top: 25px;
}
.icon-music {
  display: flex;
  justify-content: center;
  color: #ffff;
}
.music-txt {
  display: flex;
  justify-content: center;
  line-height: 25px;
  color: white;
  margin-top: 15px;
}
button {
  background-color: red;
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  margin-top: 15px;
}
#orange {
  color: white;
  margin-top: 15px;
}
#devices {
  width: 500px;
  height: 400px;
  padding: 20px;
}
.details {
  text-align: center;
  color: #000;
  margin-top: 210px;
  height: 6%;
}
.details h3 {
  margin-bottom: 15px;
}
.details button {
  background-color: rgb(16, 2, 44);
  margin-top: 30px;
  padding: 10px;
}
#macbook {
  width: 50rem;
  height: 500px;
}
.lorem{
    background-color: rgb(16, 2, 44);
    height: 100vh;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lorem h1{
    margin-bottom: 15px;
    align-items: center;
}
.card{
    display: flex;
    width: 93%;
    margin: 10% 5%;
}

.card-img{
    width: 35%;
}
.card-text{
    width: 55%;
    margin-left: 5%;

}
.card-text h1{
    margin-bottom:10px;
}
.card-text p{
    margin-bottom:15px;
}
.card-img img{
    width: 400px;
}
.divider{
    display: flex;
    align-items: center;
    color: black;
}
.line{
    width: 100%;
    height: 2px;
    background-color: #000;
    opacity: .2;
}
.card button{
    background-color: rgb(16, 2, 44);
}
footer{
  display: flex;
  width: 91%;
  background-color: rgb(16, 2, 44);
  justify-content: space-between;
  color: #ffff;
  padding: 50px;
}
.footer-content{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin:0% 5%;
  line-height:20px;

}
.shop{
  width: 20%;
}
.orange{
  width: 20%;
}
.Edu{
  width: 20%;
}
.About{
  width: 20%;
}

/* ------------MEDIA QUERY ----------------*/
@media (max-width:998px) {
  
  .navbar{
    width: 100%;
    margin-left: 0px;  
  }
  .navlogo{
    margin-left: 0px;
  }
  .nav-link{
    width:60%;
  }
  .nav-link ul{
    /* margin:; */
    margin-left:0px;
    width: 100%;
  }
  #devices{
    width: 320px;
    height: 250px;
    margin-top: 25px;
  }
  #macbook{
    width: 350px;
    height: 250px;
    margin-top: 25px;
  }
  .lorem{
    height: 50vh;
  }
  .card{
    flex-direction: column-reverse;
    width: 100%;
  }
  .card-text{
    width: 80%;
  }
  .card-img img{
    width: 350px;
  }
  footer{
    width: 100%;
    padding: 0%;
    gap: 100px;
  }
  .footer-content{
    margin: 0% 0%;
    width: 100%;
  }
  .details{
    margin-top: 85px;
  }
}

  